//
// Variables
// --------------------------------------------------

$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

// Global values
// --------------------------------------------------

// Grays
// -------------------------
$gray-darker:            lighten(#000, 12.5%); // #202020
$gray-dark:              #313435;
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             #d1d8da;
$gray-lighter:           lighten(#000, 96%);   // #f4f4f4 (whitesmoke)

// Brand colors
// -------------------------
$brand-primary:         #717b7d;
$brand-accent:          #4f585a;
$brand-success:         #f46800;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;


// Scaffolding
// -------------------------
$body-bg:               #fff;
$text-color:            $gray-dark;


// Buttons
// -------------------------
$btn-default-color:              #fff;
$btn-default-bg:                 $gray-dark;
$btn-default-border:             darken($btn-default-bg, 5%);


// Typography
// -------------------------
$font-family-sans-serif:  'Proximanova', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)
$border-radius-base:    0;
$border-radius-large:   0;
$border-radius-small:   0;

$padding-base-vertical:    12px;
$padding-base-horizontal:  24px;

$padding-large-vertical:   15px;
$padding-large-horizontal: 30px;

$padding-small-vertical:   10px;
$padding-small-horizontal: 20px;


// Grid system
// --------------------------------------------------
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         40px;
