@import 'base';

@import 'fonts';
@import 'sass-bootstrap/lib/bootstrap';
@import 'bootstrap-overrides';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.site-logo {
  a {
    display: block;
    @include retina-sprite-replace-text-with-dimensions($site, logo);
  }
}

.landing-page.jumbotron {
  position: relative;
  background: transparent image-url('landing@2x.jpg') no-repeat top center;
  background-size: cover;

  &, a {
    color: white;
  }

  .header {
    .login-link {
      text-transform: uppercase;
      font-size: 10pt;
    }
  }

  .call-to-action {
    clear: left;
    text-align: center;

    h2 {
      margin: 100px 0 50px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .btn {
      margin: 0 15px;
    }
  }
}

.marketing {
  text-align: center;

  h2 {
    margin-bottom: 50px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .landing-page {
    min-height: 750px;
  }

}
